service: lonesmoke

package:
  exclude:
    - db.ref/**
    - handler.ref.js

provider:
  name: aws
  runtime: nodejs6.10
  cfLogs: true
  timeout: 20
  stage: development
  region: ap-northeast-1
  environment:
    MONGO_URI: ${file(./config.yml):mongoURI}

plugins:
  - serverless-webpack

custom:
  webpackIncludeModules: true # enable auto including node_modules

functions:
  sesDiscountHandler:
    handler: handler.sesDiscountHandler
    vpc:
      securityGroupIds:
        - ${file(./config.yml):securityGroupId}
      subnetIds:
        - ${file(./config.yml):subnetId}
    iamRoleStatements:
      - Effect: Allow
        Resource: "*"
        Action:
          - ec2:CreateNetworkInterface
          - ec2:DescribeNetworkInterfaces
          - ec2:DetachNetworkInterface
          - ec2:DeleteNetworkInterface
          - logs:CreateLogGroup
          - logs:CreateLogStream
          - logs:PutLogEvents
    events:
      - http:
          path: discount
          method: post
          integration: lambda
          memorySize: 256
          timeout: 10
          cors: true
          response:
            headers:
              Access-Control-Allow-Origin: "'*'"

  sesStatusHandler:
    handler: handler.sesStatusHandler
    vpc:
      securityGroupIds:
        - ${file(./config.yml):securityGroupId}
      subnetIds:
        - ${file(./config.yml):subnetId}
    iamRoleStatements:
      - Effect: Allow
        Resource: "*"
        Action:
          - SNS:Publish
          - logs:CreateLogGroup
          - logs:CreateLogStream
          - logs:PutLogEvents

  createNewEmail:
    handler: handler.createNewEmail
    vpc:
      securityGroupIds:
        - ${file(./config.yml):securityGroupId}
      subnetIds:
        - ${file(./config.yml):subnetId}
    iamRoleStatements:
      - Effect: Allow
        Resource: "*"
        Action:
          - ec2:CreateNetworkInterface
          - ec2:DescribeNetworkInterfaces
          - ec2:DetachNetworkInterface
          - ec2:DeleteNetworkInterface
          - logs:CreateLogGroup
          - logs:CreateLogStream
          - logs:PutLogEvents
    events:
      - http:
          path: create-email
          method: post
          integration: lambda
          memorySize: 256
          timeout: 10
          cors: true
          response:
            headers:
              Access-Control-Allow-Origin: "'*'"

  deleteEmail:
    handler: handler.deleteEmail
    vpc:
      securityGroupIds:
        - ${file(./config.yml):securityGroupId}
      subnetIds:
        - ${file(./config.yml):subnetId}
    iamRoleStatements:
      - Effect: Allow
        Resource: "*"
        Action:
          - ec2:CreateNetworkInterface
          - ec2:DescribeNetworkInterfaces
          - ec2:DetachNetworkInterface
          - ec2:DeleteNetworkInterface
          - logs:CreateLogGroup
          - logs:CreateLogStream
          - logs:PutLogEvents
    events:
      - http:
          path: delete-email
          method: post
          integration: lambda
          memorySize: 256
          timeout: 10
          cors: true
          response:
            headers:
              Access-Control-Allow-Origin: "'*'"
