.email-container {
  width: 560px;
  max-width: 560px;
}

.header-section {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ff5722;
}

.link-block {
  width: 100%;
}

.image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.section {
  background-color: #000;
}

.body-section {
  border-bottom: 2px solid #ff5722;
}

.image-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.footer-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.social-media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.paragraph {
  text-align: center;
}